*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif
}

.about{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fc59fc, #52d2fd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width: 300px;
    max-width: 100%;
}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px ;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: #ffcc74;
    font-size: 70px;
    margin: 20px;
    text-transform: capitalize;
}

.text h5{
    color: #130101;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text p{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

.navigation a{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}



@media screen and (max-width: 480px) {
    .text h1 {
        font-size: 40px;
    }

    .text h5 {
        font-size: 16px;
    }

    .text p {
        font-size: 14px;
        line-height: 20px;
    }
}
